* {
  box-sizing: border-box;
}

html {
  background-color: #1F2324;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  height: 100%;
  margin: 0;
}
a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#202020, #101010);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}








.wrap {
  width: 100%;
  height: 88.3vh;
}

.wrap h1 {
  margin-top: 50px;
  margin-bottom: 0;
  margin: 50px auto;
  color: white;
  width: 700px;
  height: 150px;
  font-weight: bold;
  font-size: 50px;
}

.lorem {
  display: block;
  margin: 0px auto;
  color: white;
  width: 550px;
  margin-top: 50px;
  font-weight: 700;
  font-size: 16px;
}

.imgcontact {
  position: absolute;
  top: 155px;
  left: 110px;
}
#btn1,
#btn2 {
  line-height: 45px;
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  display: flexbox;
}

#btn1 {
  background-color: #fdb827;
  width: 120px;
  height: 55px;
  border-radius: 8px;
  border: 3px solid black;
  color: black;
}

#btn1:hover {
  border: 3px solid #fedc93;
  transition: 0.3s;
  background-color: #533c0d;
  color: white;
}

#btn2 {
  background-color: #212121;
  width: 230px;
  height: 55px;
  border-radius: 8px;
  border: 3px solid black;
  color: white;
}

#btn2:hover {
  background-color: rgb(71, 71, 71);
  border: 3px solid #fdb827;
  transition: 0.3s;
}

.marker {
  display: inline-block;
  color: #fdb827;
  font-size: 20px;
}

.twitter {
  display: inline-block;
  color: #1d9bf0;
}

footer {
  color: white;
  text-align: center;
  justify-content: center;
}
