* {
  box-sizing: border-box;
}

html {
  background-color: black;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  color: white;
}

header {
  width: 50vhs;
  height: 51px;
  border-bottom: 3px solid rgb(97, 97, 97);
  background: linear-gradient(rgb(120, 120, 120), black);
}

nav {
  text-align: center;
  min-width: 100%;
  min-height: 51px;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  color: #fdb827;
  transition: 0.3s;
}

nav div {
  line-height: 45px;
  display: inline-block;
  margin: 0 50px;
  font-weight: bold;
  font-size: 14px;
}

.grid {
  margin: 70px 25vw;
  display: grid;
  grid-template-columns: 463px 463px;
  grid-template-rows: 181px 181px 181px;
  gap: 22px;
}

.jobimg {
  width: 181px;
  height: 181px;
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 19px;
}

#one,
#two,
#three,
#four,
#five,
#six {
  border: 1px solid rgba(255, 255, 255, 0.35);
  border-radius: 19px;
  transition: 0.4s;
}

#one {
  background-color: #4c2c7c;
  overflow: hidden;
}

#two {
  background-color: #9ca83e;
  overflow: hidden;
}

#three {
  background-color: #5a2426;
  overflow: hidden;
}

#four {
  background-color: #1d1558;
  overflow: hidden;
}

#five {
  background-color: #10132b;
  overflow: hidden;
}

#six {
  background-color: #9d5922;
  overflow: hidden;
}

.jobimg {
  margin: 0px auto;
  transition: 0.4s;
}

.jobimg:hover {
  transition: 0.4s;
  scale: 1.4;
  cursor: pointer;

}





.jaemok {
  position: relative;
  bottom: 150px;
  left: 20px;
  
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  
  color: #FFF;
}

.readmore {
  display: inline-block;
  position: relative;
  bottom: 15px;
  right: 175px;
}

.readmore a {
  text-decoration: none;
  color: white;
}

#underline a {
  text-decoration: underline;
  text-decoration-color: #fdb827;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

footer {
  width: 1104;
  height: 26.71px;
  margin-top: 70px;
  border-top: 1px solid gray;
  text-align: center;
}

footer div {
  display: inline-block;
  margin: 0 20px;
  font-size: 14px;
  margin: 0 90px;
}

footer img {
  vertical-align: center;
  width: 50px;
  height: 50px;
  margin: 0 90px;
}


