* {
  box-sizing: border-box;
}

html {
  background-color: #1F2324;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#202020, #101010);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__icons {
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .navbar__toggleBtn {
    display: block;
  }
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

.wrap {
  height: 77.6vh;
}

.gridContent {
  display: grid;
  grid-template-columns: 600px 600px;
  grid-template-rows: 250px 250px 250px;
  margin-left: 16vw;
  margin-top: 8vh;
  gap: 20px;
}

.one,
.two,
.three,
.four,
.five,
.six {
  color: white;
  border: 2px solid gray;
  border-radius: 30px;
}

.container {
  margin-top: 150px;
  font-weight: bold;
  font-size: 70px;
  color: white;
  text-align: center;
}

.underline-animation {
  color: inherit;
  text-decoration: none;
}

.underline-animation {
  background:
    linear-gradient(to right, rgba(100, 200, 200, 1), rgba(100, 200, 200, 1)),
    linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 180, 1), rgba(0, 100, 200, 1));
  background-size: 100% 0.1em, 0 0.1em;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 0.7s;
}

.underline-animation:hover,
.underline-animation:focus {
  background-size: 0 0.1em, 100% 0.1em;
}

footer {
  margin-top: 100px;
  color: white;
  text-align: center;
  justify-content: center;
}

.underline a {
  text-decoration: underline;
  text-decoration-color: #fdb827;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}