* {
  box-sizing: border-box;
}

html {
  background-color: #1F2324;
  font-family: 'Noto Sans KR', sans-serif;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(#202020, #101010);
  padding: 8px 12px;
}

.navbar__logo {
  font-size: 24px;
  color: white;
}

.navbar__logo i {
  color: #d49466;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar__menu li {
  padding: 8px 12px;
}

.navbar__menu li:hover {
  background-color: #d49466;
  border-radius: 4px;
}

.navbar__icons {
  list-style: none;
  color: white;
  display: flex;
}

.navbar__icons li {
  padding: 8px 12px;
}

.navbar__toggleBtn {
  display: none;
  position: absolute;
  right: 32px;
  font-size: 24px;
  color: #d49466;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar__menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar__icons {
    display: none;
    justify-content: center;
    width: 100%;
    padding-left: 0;
  }

  .navbar__toggleBtn {
    display: block;
  }

  .navbar__menu.active,
  .navbar__icons.active {
    display: flex;
  }
}



.wrap {
  color: white;
}

.wrap h1 {
  color: white;
  width: 800px;
  height: 250px;
  margin-left: 650px;
  font-weight: bold;
  font-size: 45px;
}

.marker {
  display: inline-block;
  color: #fdb827;
}

.desc {
  margin-top: 90px;
}

.headtalk {
  font-weight: bold;
  font-size: 20px;
  margin-left: 330px;
}

.danlock {
  font-size: 17px;
  margin-left: 330px;
}

.underline a {
  text-decoration: underline;
  text-decoration-color: #fdb827;
  text-decoration-thickness: 3px;
  text-underline-offset: 5px;
}

footer {
  margin-top: 155px;
  color: white;
  text-align: center;
  justify-content: center;
}